@model ML.Usuario
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col">
        <h2>@ViewBag.Accion</h2>
        <p>Confirma para eliminar el usuario</p>
    </div>
</div>
@using (Html.BeginForm("Delete", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            @Html.LabelFor(model => model.IdUsuario, new { @class = "visually-hidden" })
            @Html.TextBoxFor(model => model.IdUsuario, new { @class = "form-control visually-hidden" })
        </div>
    </div>

    <input type="submit" class="btn btn-success" value="@ViewBag.Accion" />
    @Html.ActionLink("Cancelar", "Getall", "Usuario", new { @class = "btn btn-danger" })
}
